{{#if error}}
<h4>{{errorMsg}}</h4>
{{/if}}
<form method="POST">
    <div class="inputs">
        <input type="text" id="firstname" name="firstname" placeholder="Irresponsible"><br>
        <input type="text" id="lastname" name="lastname" placeholder="Roommate"><br>
        <input type="email" id="email" name="email" placeholder="iPutBackEmptyBoxes@inthefridge.com" required><br>
        <input type="password" id="password" name="password" minlength="8" required><br>
        <input type="text" id="age" name="age" placeholder="3"><br>
        <input type="text" id="city" name="city" placeholder="Sin City"><br>
        <input type="url" id="url" name="url"><br>
        <input type="hidden" name="csrf" id="csrf">
    </div>
    <div class="labels">
        <label for="firstname">First Name</label>
        <label for="lastname">Last Name</label>
        <label for="email">Email Address</label>
        <label for="password">Password</label>
        <label for="age">Your Age</label>
        <label for="city">City</label>
        <label for="url">Personal Page</label>
    </div>
    <button>UPDATE</button>