<div class="header">
    <h1>Take Action!</h1>
    <h3>Here you can find my petition</h3>
</div>
<main>
    <div class="main-container">
        <div class="form">
            <form method="post">
                <input type="text" id="firstname" name="firstname"><br>
                <label for="firstname">First Name</label>
                <input type="text" id="lastname" name="lastname"><br>
                <label for="lastname">Last Name</label>
                <input type="hidden" name="sig_id">
                <canvas></canvas>
                <button>SUBMIT</button>
            </form>
        </div>
    </div>
    <div class="main-content">

    </div>
</main>
