<div class="container">
    <div class="header profile">
        <h2>Please give us more information about yourself.</h2>
        {{#if error}}
        <h4 class="error">{{errorMsg}}</h4>
        {{/if}}
    </div>
    <div class="main">
        <div class="form profile">
            <form method="POST">
                <div class="inputs">
                    <div class="age">
                        <input type="text" id="age" name="age" placeholder="Your Age"><br>
                        <label for="age">Your Age</label>
                    </div>
                    <div class="city">
                        <input type="text" id="city" name="city" placeholder="Your City"><br>
                        <label for="city">City</label>
                    </div>
                    <div class="url">
                        <input type="url" id="url" name="url" placeholder="Your Web Page"><br>
                        <label for="url">Personal Page</label>
                    </div>
                </div>
                <div class="buttons">
                    <button class="bt profile-save">SAVE</button>
                    <button class="bt profile-skip"><a href="/petition">SKIP NOW</a></button>
                </div>
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
            </form>
        </div>
    </div>
</div>