{{#if error}}
<h4>{{errorMsg}}</h4>
{{/if}}
<form method="POST">
    <div class="additional-inputs">
        <input type="text" id="age" name="age" placeholder="Your Age"><br>
        <input type="text" id="city" name="city" placeholder="Your City"><br>
        <input type="url" id="url" name="url" placeholder="Your Web Page"><br>
    </div>
    <div class="name labels">
        <label for="age">Your Age</label>
        <label for="city">City</label>
        <label for="url">Personal Page</label>
    </div>    
    <button>SAVE</button>
</form>