<div class="container">
    <div class="header register">
        <h2>We would like to know you!</h2>
        <h3>In order to be sure that you are serious about this cause.</h3>
        {{#if error}}
        <h4 class="error">{{errorMsg}}</h4>
        {{/if}}
    </div>
    <div class="main">
        <div class="form register">
            <form method="POST">
                <div class="inputs">
                    <div class="name">
                        <input type="text" id="firstname" name="firstname" placeholder="Responsible"><br>
                        <label for="firstname">First Name</label>
                    </div>
                    <div class="lastname">
                        <input type="text" id="lastname" name="lastname" placeholder="Roommate"><br>
                        <label for="lastname">Last Name</label>
                    </div>
                    <div class="email">
                        <input type="email" id="email" name="email" required><br>
                        <label for="email">Email Address</label>
                    </div>
                    <div class="password">
                        <input type="password" id="password" name="password" minlength="8" required><br>
                        <label for="password">Password</label>
                    </div>
                    <div class="re-password">
                        <input type="password" id="rePassword" name="rePassword" required><br>
                        <label for="rePassword">Confirm your password</label>
                    </div>
                </div>
                <button class="bt register">SIGN UP</button>
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
            </form>
            <p>If you are already a member of this incredibly reactive community please <a href="/login"><strong>log in</strong></a>.</p>
        </div>
    </div>
</div>