<div class="main-container">
    <img src="{{canvasUrlVal}}" alt="Your Signature">
    <h3>Thank you for helping to prevent something!</h3>
    <p>So far {{signerCount}} people have signed.</p>   
    <p>You can see other signers </p><a href="/signers">here</a>.</a>
</div>