<div class="main-container">
    <h3>Thank you for helping to prevent something!</h3>
    <p>So far ... people have signed.</p>   {{!-- #OF PEOPLE????? --}}
    <p>You can see other signers </p><a href="/signers"></a>here.</a>                                       {{!-- #LINK? --}}
</div>