<div class="container">
    <div class="header thanks">
        <img src="{{canvasUrlVal}}" alt="Your Signature">
    </div>
    <div class="main thanks">
        <h3>Thank you for helping to prevent the poor fridges from empty boxes.</h3>
        <h4>Now they will be moved to garbage cans, where they belong!</h4>
        <p>So far {{signerCount}} people have gathered around this cause.<br>Help us grow this awareness.</p>   

        <p>You can see other signers </p><a href="/signers">here</a>.</a>

    </div>
</div>