.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.additional-inputs {
    display: flex;
    justify-content: center;
}
.name > * {
    margin: 2vw;
}
.labels {
    font-weight: bolder;
    font-size: larger;
    font-style: italic;
    display: flex;
    justify-content: center;
}
canvas {
    border: solid 1px black;
}
.canvas-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bt {
    width: 100px;
}
